In [46]:
import pandas as pd
import numpy as np
import requests
import time
from datetime import date
from datetime import datetime
from config import polygon_api_key

In [40]:
api_key = polygon_api_key
tickers_df = pd.read_csv('ticker.csv')
tickers = tickers_df['symbol']
today = str(date.today())

In [41]:
stock_data = []
for ticker in tickers:
    url = f'https://api.polygon.io/v2/aggs/ticker/{ticker}/range/1/day/2021-01-01/{today}?apiKey='
    api_result = requests.get(url + api_key).json()
    print(f'Stock ticker {ticker} found.')
    stock_data.append(api_result)
    print('Finding next...')
    time.sleep(15)

Stock ticker ACIW found.
Finding next...
Stock ticker ACLS found.
Finding next...
Stock ticker COHU found.
Finding next...
Stock ticker MDLA found.
Finding next...
Stock ticker MSFT found.
Finding next...
Stock ticker PANW found.
Finding next...
Stock ticker PAR found.
Finding next...
Stock ticker PYPL found.
Finding next...
Stock ticker CRM found.
Finding next...
Stock ticker NOW found.
Finding next...
Stock ticker TWLO found.
Finding next...

In [48]:
ticker_list = []
openings = []
closings = []
highs = []
lows = []
dates = []

for x in range(len(stock_data)):
    stock_results = stock_data[x]['results']
    for y in range(len(stock_results)):
        ticker = stock_data[x]['ticker']
        opening = stock_results[y]['o']
        closing = stock_results[y]['c']
        high = stock_results[y]['h']
        low = stock_results[y]['l']
        time = stock_results[y]['t']
        date = datetime.utcfromtimestamp(time/1000).strftime('%Y-%m-%d')
        ticker_list.append(ticker)
        openings.append(opening)
        closings.append(closing)
        highs.append(high)
        lows.append(low)
        dates.append(date)

df = pd.DataFrame({
    'ticker':ticker_list,
    'opening':openings,
    'closing':closings,
    'high':highs,
    'low':lows,
    'date':dates
})

In [49]:
df

     ticker  opening  closing    high       low        date
0      ACIW    38.68    37.88   38.69   37.1800  2021-01-04
1      ACIW    37.75    38.00   38.18   37.7400  2021-01-05
2      ACIW    38.18    38.63   39.32   37.9600  2021-01-06
3      ACIW    38.98    39.14   39.19   38.7000  2021-01-07
4      ACIW    39.50    39.21   40.29   38.9300  2021-01-08
...     ...      ...      ...     ...       ...         ...
1227   TWLO   316.38   317.20  323.81  312.5000  2021-06-08
1228   TWLO   318.90   314.61  326.74  314.2800  2021-06-09
1229   TWLO   314.00   324.10  324.95  312.7527  2021-06-10
1230   TWLO   324.04   332.73  333.99  322.2900  2021-06-11
1231   TWLO   335.50   343.07  347.13  333.0000  2021-06-14

[1232 rows x 6 columns]

In [50]:
df.to_csv('ticker_daily.csv',index=False)